<div class="ui container">
  &nbsp;
  <div class="ui inverted segment">
    <div class="ui center aligned grid">
      <div class="row">

        <table class="ui selectable inverted table">
          <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Active</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let person of employees">
              <td>
                {{person.firstName}}
              </td>
              <td>
                {{person.lastName}}
              </td>
              <td>
                <div *ngIf="person.id != editIndex">
                  <h4 class="ui light green header" *ngIf="person.active">Active</h4>
                  <h4 class="ui light yellow header" *ngIf="!person.active">Inactive</h4>
                </div>
                <div *ngIf="person.id == editIndex">
                  <input type="checkbox" [ngModelOptions]="{standalone: true}" [(ngModel)]="person.active" />
                </div>
              </td>
              <td>
                <div *ngIf="person.id != editIndex">
                  <button type="button" class="ui fluid blue button" (click)="editEmployee(person)">
                    Edit
                  </button>
                </div>
                <div *ngIf="person.id == editIndex">
                  <button type="button" class="ui fluid green button" (click)="updateEmployee(person)">
                    Update
                  </button>
                  <button type="button" class="ui fluid red button" (click)="cancelEmployee()">
                    Cancel
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td>
                <div class="ui fluid input">
                  <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="newEmployee.firstName"
                    placeholder="First Name" />
                </div>
              </td>
              <td>
                <div class="ui fluid input">
                  <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="newEmployee.lastName"
                    placeholder="Last Name" />
                </div>
              </td>
              <td>
                <input type="checkbox" [ngModelOptions]="{standalone: true}" [(ngModel)]="newEmployee.active" />
              </td>
              <td class="collapsing">
                <button type="button" class="ui fluid green button" (click)="addNewEmployee()">
                  Add
                </button>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>